@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Poppins:wght@200;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(208, 95%, 8%);
    color: white;
    font-family: 'Poppins', sans-serif;
}
